body {
    background-color: crimson;    /*cor de fundo da página*/
    color:whitesmoke;     /*cor da escrita*/
    font-family: "Ubuntu", sans-serif ;
}

header {
    border: solid 2px whitesmoke;
    font-size: 32px;
    padding: 10px;
    color: whitesmoke;
}

section {
    background-color: #ff0033; /*cor escolhida*/
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;   /*tamanho da fonte*/
    text-align: center;      /*centralizado*/
    text-transform: uppercase;    /*letras maiúsculas*/
}

p {
    font-size: 16px;
    color: whitesmoke;
}